-
    const positions = [
        {
            title: 'Эксклюзивная информация',
            text: 'Объем эксклюзивных данных АО "Банка Русский Стандарт" составляет свыше 35 миллионов кредитных историй субъектов — заемщиков одного из крупнейших игроков на рынке потребительского кредитования.',
        },
        {
            title: 'Высокотехнологичная платформа',
            text: 'Комплекс информационно-аналитических услуг Бюро позволяет выполнить всестороннюю оценку кредитных рисков как на основе информации по кредитным историям, так и по данным, полученным от внешних источников.',
        },
        {
            title: 'Профессиональная команда',
            text: 'Профессиональная команда опытных разработчиков программного обеспечения и администраторов информационных систем позволяет решать поставленные задачи в кратчайшие сроки.',
        },
        {
            title: 'Профессиональная команда',
            text: 'Информационное воздействие с каждым из наших партнеров строится индивидуально, что позволяет создавать уникальные сервисы адаптированные по потребности пользователей без бюрократии и длительных согласований.',
        },
    ]