$primary_font: 'Lato', sans-serif;

// colors
$dark_grey: #333333;
$company_grey: #454644;
$primary_text: $dark_grey;
$green: #84b143;
$green_dark: #009D0E;
$red: #C41D39;
$orange: #FC7F2B;
$yellow: #F1C332;
$devide_line: #D0D0D0;
$color_border: #D0D0D0;
$blue: #0066B3;