.popup#popup-loginom
    .popup__logo
        img(src="img/svg/partners/loginom-bg.svg", alt="")
    .popup__title Loginom Company – отечественный разработчик ПО в области продвинутого анализа данных.
    .popup__text Мы приветствуем открытость в сотрудничестве и готовы делать шаги навстречу Вашим интересам, предлагая индивидуальный подход при решении задач информационного взаимодействия. Работа с каждым из наших партнеров строится индивидуально, что позволяет создавать уникальные сервисы, адаптированные под потребности пользователей без бюрократии и длительных согласований.
    .popup__items
        .popup__item
            .popup__item-title 20+
            .popup__item-text Лет опыта
        .popup__item
            .popup__item-title 200+
            .popup__item-text Внедренных проектов
    .popup__title Готовые решения на базе Loginom для финансовых компаний:
    .popup__bottom.popup__items
        .popup__item
            .popup__item-title LDM
            .popup__item-text Система поддержки принятия решений
        .popup__item
            .popup__item-title LSM
            .popup__item-text Автоматизация процесса построения скоркарт
        .popup__item
            .popup__item-title LDQ
            .popup__item-text Очистка и дедупликация клиентских данных
    a.popup__btn.btn.btn--green(href="") Сайт компании

.popup#popup-hes
    .popup__logo
        img(src="img/svg/partners/hes.svg", alt="")
    .popup__title HES - МЕЖДУНАРОДНАЯ КОМПАНИЯ, КОТОРАЯ СОЗДАЕТ ИННОВАЦИОННЫЕ ПРОДУКТЫ.
    .popup__text HES - международная компания, которая создает инновационные продукты для банков и финансовых компаний, страховых и лизинговых организаций, кредитных бюро. Инновационные технологии разработки ПО позволяют нам решить даже самые сложные задачи кредитования. Четкая специализация и большой опыт в области финансов позволяют нам выполнять проекты на высоком уровне, что обеспечивает максимальный возврат инвестиций на разработку программного обеспечения.
    a.popup__btn.btn.btn--green(href="") Сайт компании

.popup#popup-aksiomatika
    .popup__logo
        img(src="img/svg/partners/aksiomatika.svg", alt="")
    .popup__title ШИРОКИЙ СПЕКТР ПРОДУКТОВ ДЛЯ АВТОМАТИЗАЦИИ РАЗЛИЧНЫХ БИЗНЕС-ПРОЦЕССОВ.
    .popup__text Компания «Аксиоматика» предлагает широкий спектр продуктов для автоматизации различных бизнес-процессов в широком спектре финансовых организаций: от небольших МФО, до крупных банков и страховых компаний. В числе прочего продукты и сервисы для интеграции с внешними поставщиками данных, обработки данных для принятия бизнес-решений, а также комплексные платформы для обеспечения работоспособности всего кредитного конвейера.
    a.popup__btn.btn.btn--green(href="") Сайт компании

.popup#popup-skorista
    .popup__logo
        img(src="img/svg/partners/skorista.svg", alt="")
    .popup__title СЕРВИС, НАЦЕЛЕННЫЙ НА СНИЖЕНИЕ УБЫТКОВ ОТ НЕВОЗВРАТА ЗАЙМОВ И ПОВЫШЕНИЕ ДОХОДОВ КРЕДИТОРА.
    .popup__text SCORISTA – это сервис повышения качества оценки кредитных рисков, нацеленный на снижение убытков от невозврата займов и повышение доходов кредитора.
    .popup__text SCORISTA предлагает своим клиентам широкий спектр продуктов и услуг: оценку заемщиков с готовым кредитным решением, определение рекомендуемой суммы займа, разработку скор-карт, наборы предиктивных факторов для построения скор-карт и многое другое.
    .popup__text Разработки в области искусственного интеллекта и технологии машинного обучения позволяют исключительно быстро выполнять поставленные задачи и гарантировать клиенту высокое качество результатов работы сервиса.
    .popup__text Работает в России с 2014 года.
    a.popup__btn.btn.btn--green(href="") Сайт компании

.popup#popup-sputnik
    .popup__logo
        img(src="img/svg/partners/sputnik.svg", alt="")
    .popup__title SPUTNIK - ЭТО ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ ДЛЯ ФИНАНСОВОГО СЕКТОРА.
    .popup__text Sputnik - это программное обеспечение для финансового сектора, мы помогаем микрофинансовым организациям, кредитным кооперативам, банкам, fintech-стартапам, брокерам и другим финансовым институтам автоматизировать бизнес-процессы проверки клиента, выдачи кредита или займа, приема вклада или сбережения и многое другое.
    a.popup__btn.btn.btn--green(href="") Сайт компании
