section.statistic
    .l-default 
        h2.statistic__title.title.title--h2 Вам понравится работать с Кредитным бюро  Русский Стандарт
        .statistic__text Мы приветствуем открытость в сотрудничестве и готовы делать шаги навстречу Вашим интересам, предлагая индивидуальный подход при решении задач информационного взаимодействия. Работа с каждым из наших партнеров строится индивидуально, что позволяет создавать уникальные сервисы, адаптированные под потребности пользователей без бюрократии и длительных согласований.
        .statistic__items
            .statistic__item
                .statistic__item-title 2005
                .statistic__item-text Год основания кредитного бюро Русский стандарт
            .statistic__item
                .statistic__item-title 2010
                .statistic__item-text Бюро запускает дополнительные сервисы для своих клиентов 
            .statistic__item
                .statistic__item-title 2015
                .statistic__item-text Коллекторские агентства выгружают кредитные истории в Бюро 
            .statistic__item
                .statistic__item-title 2019
                .statistic__item-text КБРС - один из лидеров российского информационного рынка кредитных историй 
        h3.statistic__title.title.title--h2 На сегодняшний день КБРС является одним из лидеров российского информационного рынка кредитных историй 
        .statistic__progress
            .statistic__progress-item
                .progressbar.progressbar-1(data-percent="85")
                    .progressbar__content
                        .progress
                            .progress-top
                                .progress-bar--circular.progress-bar--circular-1
                                    .progress-percent.progress-bar-percent 
                                        .progress-percent.progress-bar-number 85 %
                                        .progress-percent.progress-bar-text Хит бюро <span>(по запросам)</span>
            .statistic__progress-item
                .progressbar.progressbar-2(data-percent="50")
                    .progressbar__content
                        .progress
                            .progress-top
                                .progress-bar--circular.progress-bar--circular-2
                                    .progress-percent.progress-bar-percent 
                                        .progress-percent.progress-bar-number 50 %
                                        .progress-percent.progress-bar-text Хит на основную и информационную части кредитной истории