.header {
    position: absolute;
    top: 0; 
    left: 0;
    z-index: z('header');
    width: 100%;
    background: linear-gradient(180deg, #F7F9F9 0%, rgba(247, 249, 249, 0.58) 71.35%, rgba(247, 249, 249, 0) 100%);
    padding: 51px 40px;
    margin: 0 auto;
    @media screen and (max-width: 1299px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 16px 20px;
    }

    @media screen and (max-width: 599px) {
        padding: 16px;
    }

    &-auth {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: none;
        border-bottom: none;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        max-width: 1840px;
        margin: 0 auto; 
        margin-bottom: 32px;
        @media screen and (max-width: 1299px) {
            margin-bottom: 0;
        }
    }

    &__burger {
        position: relative;
        z-index: z('header');
        display: none;
        width: 20px;
        height: 20px;
        margin-right: 8px;

        @media screen and (max-width: 1299px) {
            display: block;
            margin-right: 20px;
        }
        span {
            @include tr('all');
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: #333333;

            &:first-child {
                top: 4px;
            }

            &:last-child {
                bottom: calc(8px);
            }
        }
    }

    &__logo {
        order: 0;
        z-index: z('header');
        min-width: 302px;
        font-size: 64px;
        line-height: 1;

        @media screen and (max-width: 1299px) {
            min-width: 0;
            font-size: 36px;
            margin-right: 20px;
        }

        @media screen and (max-width: 599px) {
            font-size: 26px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
        width: 120px;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        border: 1px solid #EAEDF3;
        box-shadow: 0px 1px 3px rgba(25, 30, 30, 0.08);
        border-radius: 20px;
        padding: 11px;

        @media screen and (max-width: 767px) {
            order: 1;
            justify-content: flex-start;
            width: auto;
            font-size: 12px;
            background: #fff;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #eaedf3;
            padding: 4px 8px;
            padding: 20px;
        }
    }

    &__acc {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        order: 9;
        min-height: 40px;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #EAEDF3;
        border-radius: 20px;
        padding: 3px;
        padding-left: 12px;
        margin-left: 24px;
        cursor: pointer;

        @media screen and (max-width: 1299px) {
            min-height: 20px;
            margin-left: 20px;
        }

        @media screen and (max-width: 767px) {
            background: none;
            border: none;
            padding-left: 0;
            margin-left: 8px;
        }

        &-logout {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            border-radius: 100%;
            background: #fff;
            cursor: pointer;

            @media screen and (max-width: 1299px) {
                width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 1;
            }

            @media screen and (max-width: 767px) {
                width: 28px;
                height: 28px;
                font-size: 14px;
                border: 1px solid #EAEDF3;
            }
        }

        &-links {
            margin: 0 25px;

            @media screen and (max-width: 1299px) {
                margin: 0 8px;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        &-name {
            @media screen and (max-width: 1299px) {
                font-size: 14px;
                line-height: 1;
            }
        }

        &:hover {
            .header__menu {
                display: block;
            }
        }
    }
    
    &__phone {
        display: flex;
        align-items: center;
        margin-left: auto;

        &-icon {
            font-size: 40px;
            margin-right: 29px;

            @media screen and (max-width: 1299px) {
                font-size: 24px;
                margin-right: 8px;
            }
        }

        &-link {
            font-size: 22px;
            line-height: 120%;

            @media screen and (max-width: 1299px) {
                font-size: 18px;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    &__close {
        position: relative;
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin-left: auto;
        
        span {
            position: absolute;
            height: 3px;
            width: 32px;
            border-radius: 2px;
            background: #919497;
            top: 50%;

            &:first-child {
                transform: translateY(-50%) rotate(45deg);
            }

            &:last-child {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    &__menu {
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        z-index: 1;
        display: none;
        width: 100%;
        border-radius: 20px;
        background: $green;
        animation: show .4s ease;
        @media screen and (max-width: 767px) {
            min-width: 250px;
        }
        &:after {
            position: absolute;
            top: -7px;
            left: 40px;
            z-index: -1;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 10px;
            border-color: transparent transparent $green transparent;

            @media screen and (max-width: 767px) {
                top: -5px;
                left: unset;
                right: 10px;
            }
        }

        &-item {
            font-size: 18px;
            line-height: 20px;
            color: #fff;
            padding: 12px 20px;
            border-bottom: 1px solid #fff;

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            &:hover {
                color: inherit;
            }
            
            &:last-child {
                border-bottom: none;
            }
        }
    }
    
    &-nomenu-close {
        background: none;
    }
}

.open {
    .header {
        &__burger {
            span {
                top: 50%;

                &:first-child {
                    transform: translateY(-50%) rotate(45deg);
                }

                &:last-child {
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }

    .menu {
        transform: translateX(0);
    }
}
