-
    const faq_categories = [
        {
            text: 'Все',
            attr: 'all'
        },
        {
            text: 'Кредитные отчеты',
            attr: 'report'
        },
        {
            text: 'Кредитная история',
            attr: 'history'
        },
        {
            text: 'Госуслуги',
            attr: 'gosuslugi'
        },
        {
            text: 'ЦЦКИ',
            attr: 'ccki'
        },
        {
            text: 'Скоринговый балл',
            attr: 'scoring'
        },
        {
            text: 'Подписки',
            attr: 'subscribe'
        }, 
    ];