include faq-data.pug 

section.faq
    .l-default
        .faq__top
            .faq__title Что вас интересует?
            .faq__categories
                each faq_category in faq_categories
                    .faq__category(data-category=faq_category.attr)= faq_category.text
        .faq__dropdowns 
            .dropdown(data-category="report")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Сколько стоит кредитный отчет для физических лиц?
                .dropdown-content 
                    p В соответствии с ФЗ №218 "О кредитных историях" субъект кредитной истории вправе в каждом бюро кредитных историй, в котором хранится кредитная история о нем, не более двух раз в год (но не более одного раза на бумажном носителе) бесплатно и любое количество раз за плату без указания причин получить кредитный отчет по своей кредитной истории, включая индивидуальный рейтинг субъекта кредитной истории (при наличии), в том числе накопленную в соответствии с настоящим Федеральным законом информацию об источниках формирования кредитной истории и о пользователях кредитной истории, которым выдавались кредитные отчеты.
                    p Заказ третьего и последующих кредитных отчетов в течение года через Личный кабинет или Мобильное приложение Бюро составляет 379 рублей за каждый запрос. Подписка на получение кредитных отчетов в течение одного года стоит 899 рублей.
            .dropdown(data-category="report")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Что такое кредитная история. Из каких частей она состоит?
                .dropdown-content 
                    p Кредитная история – информация, характеризующая исполнение субъектом кредитной истории (заемщиком) принятых на себя обязательств по договорам займа (кредита). Кредитная история состоит из четырех частей для физических лиц и трех частей для юридических лиц: 
                    p I часть – "титульная часть кредитной истории" - содержит сведения о заемщике, по которым его можно идентифицировать (например, для физического лица: Ф.И.О., данные документа удостоверяющего личность; для юридического лица: полное и сокращенное наименования, ИНН, ЕГРН);
                    p II часть – "основная часть кредитной истории" - содержит дополнительные сведения о заемщике и сведения об обязательствах заемщика (с указанием суммы, срока исполнения обязательств, срока уплаты процентов и проч.);
                    p III часть – "дополнительная (закрытая) часть кредитной истории" - содержит сведения об источнике формирования кредитной истории (кредиторе), а также сведения о пользователях кредитной истории;
                    p IV часть (формируется для физических лиц) – "информационная часть кредитной истории" - содержит информацию о предоставлении займа (кредита) или об отказе в заключении договора займа (кредита), информация об отсутствии двух и более подряд платежей по договору займа (кредита) в течение 120 календарных дней с даты наступления срока исполнения обязательства по договору займа (кредита), которое не исполнено заемщиком.
            .dropdown(data-category="report")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Как получить кредитный отчет в ООО «Кредитное бюро Русский Стандарт»?
                .dropdown-content 
                    p Кредитный отчет можно получить следующими способами:
                    p <strong><a href="contacts/">Посетить офис бюро</a></strong> по адресу: город Москва, ул. Щербаковская, дом 3, этаж 10, офис 1001. Время приема обращений частных лиц: среда с 10:00 до 18:00, перерыв с 13:00 до 14:00. При себе необходимо иметь паспорт. Потребуется заполнить письменное заявление. Кредитный отчет выдается на руки.
                    p <strong>2. Отправить в Бюро телеграмму с заявлением, заверенную оператором почтовой связи Важно!</strong> Телеграмма должна содержать следующую информацию: 
                    p <strong>2. Отправить в Бюро телеграмму с заявлением, заверенную оператором почтовой связи</strong><br> <strong>Важно!</strong>&nbsp;Телеграмма должна содержать следующую информацию:&nbsp;<br> <br> ПРОШУ ПРЕДОСТАВИТЬ КРЕДИТНЫЙ ОТЧЕТ<br> ИВАНОВ ИВАН ИВАНОВИЧ<br> ДАТА РОЖДЕНИЯ 01.01.1981<br> МЕСТО РОЖДЕНИЯ Г. МОСКВА<br> ПАСПОРТ 5555 555555 ВЫДАН ОВД Г. МОСКВЫ<br> ДАТА ВЫДАЧИ 01.01.2001<br> НА АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ YOURNAME(A)YOURDOMAIN.RU<br> Т. (495)1234567<br> СОБСТВЕННОРУЧНАЯ ПОДПИСЬ ИВАНОВА ИВАНА ИВАНОВИЧА ЗАВЕРЕНА ОПЕРАТОР ПЕТРОВ<br> <br> Ответ будет подготовлен в течение 3-х дней со дня получения телеграммы. Можно указать почтовый адрес для отправки бумажного отчёта. Кредитный отчет будет отправлен почтой по указанному адресу.
                    p <strong>3. Направив в Бюро заявление на бумажном носителе с собственноручной подписью субъекта кредитной истории, подлинность которой засвидетельствована нотариусом в соответствии с законодательством Российской Федерации о нотариате</strong>
                    p <strong>4. Получить в Интернете</strong>
                    blockquote
                        <p><strong>1. Через сайт кредитного бюро.</strong></p>
                        <p>Зарегистрируйтесь на сайте Бюро, зайдите в&nbsp;<span style="text-decoration: underline;"><a href="https://lk.rs-cb.ru/" rel="nofollow" target="_blank"><span style="color: #b22222;">«Личный кабинет»</span></a></span>. Идентифицируйте Ваш аккаунт. На главной странице нажмите на кнопку «Заказать отчет». Получите ваш бесплатный кредитный отчет или оплатите услугу (если количество возможных заказов бесплатного&nbsp;отчета&nbsp;исчерпано).</p>
                        <p><strong>2. Направив&nbsp;запрос в форме электронного документа, подписанного&nbsp;усиленной квалифицированной электронной подписью.</strong></p>
                        <p>Составьте электронный запрос на предоставление кредитного отчета. В запросе обязательно укажите Ваши ФИО, дату рождения, паспортные данные. Подпишите запрос Вашей усиленной квалифицированной электронной подписью (выдается только аккредитованными удостоверяющими центрами). Направьте запрос на электронный адрес Бюро&nbsp;rscb@rs-cb.ru.</p>
                        <p><strong>3. Оформив запрос, подписанный простой электронной подписью, ключ которой получен при личной явке в соответствии с правилами использования простой электронной подписи при обращении за получением государственных и муниципальных услуг в электронной форме, установленными Правительством Российской Федерации.</strong></p>
                        <p>Пройдите по <span style="text-decoration: underline;"><a href="https://private12.rs-cb.ru/report/" rel="nofollow" target="_blank"><span style="color: #b22222;">ссылке</span></a></span> и направьте запрос, подписав его&nbsp;просто электронной подписью при помощи подтвержденной учетной записи на Едином&nbsp;портале государственных услуг и функций (Госуслуги).</p>
                        <p><strong>4. Через интернет-банк АО «Банк Русский Стандарт».</strong></p>
                        <p>Зайдите на официальный сайт Банка «Русский Стандарт» (проследите, чтобы соединение происходило в защищенном режиме!), выполните авторизацию в интернет-банке под своим логином и паролем. Кликните на изображение светофора и следуйте дальнейшей инструкции для перехода в Личный кабинет Бюро.</p>
            .dropdown(data-category="history")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title А в банке я могу бесплатно получить кредитную историю?
                .dropdown-content 
                    p Да, одним из нововведений, предусмотренных новой редакцией ФЗ №218 "О кредитных историях",  стала возможность сделать бесплатный запрос кредитной истории через банк. Но с теми же ограничениями — не больше двух раз в год в одном бюро. Банк проверит, не превышен ли лимит запросов, — если превышен, придется заплатить.
                    p О наличии технической готовности предоставления бесплатного кредитного отчета уточняйте непосредственно в банке.
            .dropdown(data-category="history")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Почему на Госуслугах я не вижу свой отчет или рейтинг?
                .dropdown-content 
                    p На портале Госуслуг (<a href="https://www.gosuslugi.ru/">www.gosuslugi.ru</a>) можно бесплатно узнать, где хранится кредитная история. Вам дадут список бюро кредитных историй, в которые нужно будет обращаться за самими историями.
                    p О наличии технической готовности предоставления бесплатного кредитного отчета уточняйте непосредственно в банке.
            .dropdown(data-category="history")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Кредитная история – это только негатив?
                .dropdown-content 
                    p Нет, кредитная история содержит всю информацию об исполнении обязательств по кредитам.
            .dropdown(data-category="gosuslugi")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Что такое код субъекта кредитной истории, зачем он нужен и как его узнать?
                .dropdown-content 
                    p Код субъекта кредитной истории (далее — КС) является аналогом пароля и необходим субъекту кредитной истории (КИ) для направления запроса непосредственно по электронной почте в ЦККИ. Код (дополнительный код) субъекта КИ должен состоять из букв алфавита русского языка и цифр либо из букв латинского алфавита и цифр. Минимальная длина кодов не должна быть менее четырех знаков, максимальная — не должна быть более пятнадцати знаков. 
                    p Если у субъекта кредитной истории (КИ) отсутствует кредитная история, то при заключении договора займа (кредита) указанный субъект самостоятельно формирует и передает кредитной организации КС. Кредитная организация принимает от субъекта КС и одновременно с информацией, содержащейся в титульной части кредитной истории, передает его в бюро кредитных историй (БКИ). БКИ передает КС одновременно с информацией, содержащейся в титульной части кредитной истории, в ЦККИ.&nbsp;&nbsp;<br> Если при заключении договора займа (кредита) КС не был сформирован, субъект КИ может сформировать его в последующем, обратившись в любую кредитную организацию или любое бюро кредитных историй.&nbsp;
                    p Субъект КИ может иметь только один действующий КС. Если при заключении нового договора займа (кредита) субъект КИ устанавливает новый КС, старый код аннулируется. Субъект КИ может аннулировать КС, не формируя при этом новый. В случае утраты информации субъект КИ вправе обратиться в любую кредитную организацию или в любое БКИ для формирования нового КС. 
                    p Для каждого пользователя кредитной истории (кредитной организации) субъект КИ вправе сформировать дополнительный КС — временно действующий (не более 30 дней со дня его формирования) аналог КС. Дополнительный КИ предназначен для получения кредитной организацией информации из ЦККИ о БКИ, в котором (-ых) хранится кредитная история субъекта кредитной истории.  
                    p Дополнительный КС создается посредством обращения субъектом кредитной истории в любую кредитную организацию, либо бюро кредитных историй. По истечении срока действия  дополнительный КС автоматически аннулируется.  
                    p Порядок формирования, замены и аннулирования кода (дополнительного кода) субъекта кредитной истории установлен Указанием Банка России от 31 августа 2005 года № 1610-У "О порядке направления запросов и получения информации из Центрального каталога кредитных историй субъектом кредитной истории и пользователем кредитной истории посредством обращения в Представительство Банка России в сети Интернет" в соответствии с частью 4.3 статьи 5 Федерального закона "О кредитных историях".
            .dropdown(data-category="gosuslugi")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Что такое код субъекта кредитной истории, зачем он нужен и как его узнать?
                .dropdown-content 
                    p Центральный каталог кредитных историй (ЦККИ) – подразделении Банка России, создан для сбора, хранения и представления субъектам кредитных историй и пользователям кредитных историй информации о бюро кредитных историй, в котором (которых) сформированы кредитные истории субъектов кредитных историй.  
                    p(style="border: 1px solid #ccc; border-radius: 10px; padding: 20px; overflow: hidden;") 
                        <strong style="float: left; display: block; font-size: 42px; line-height: 42px; color: #aa353d;">!</strong><em style="display: block; margin-left: 30px;">Центральный каталог кредитных историй предоставляет только сведения о бюро кредитных историй, в котором (которых) хранится кредитная история, но не саму кредитную историю.</em> 
                    p Кроме того, Центральный каталог кредитных историй осуществляет временное хранение баз данных ликвидированных (реорганизованных, а также исключенных из государственного реестра бюро кредитных историй) бюро кредитных историй.
            .dropdown(data-category="gosuslugi")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Моя кредитная история не найдена. Что это значит? В кредитном отчете отразились не все кредиты, которые у меня есть.
                .dropdown-content   
                    p Это может означать следующее:
                    <ol>
                        <li>Вы не пользуетесь кредитными продуктами&nbsp;банков&nbsp;(не брали кредиты (займы), не оформляли кредитные карты.).</li>
                        <li>Вы не дали согласие на предоставление информации по договору в бюро кредитных историй (для договоров, оформленных до 01 марта 2015 года).</li>
                        <li>Кредит был оформлен в банке, который не имеет договорных отношений с ООО «Кредитное бюро Русский Стандарт».</li>
                        <li>Кредитный договор был оформлен ранее 2006 года, до момента вступления в силу ФЗ № 218 «О кредитных историях» и создания в России института бюро кредитных историй.</li>
                    </ol>
                    p &nbsp;
                    p При отсутствии кредитной истории в нашем Бюро рекомендуем выполнить запрос в ЦККИ о БКИ, в котором (-ых) хранится Ваша кредитная история. 
            .dropdown(data-category="ccki")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Я сделал запрос в бюро, в кредитном отчете я увижу только кредиты, выданные в банке «Русский Стандарт»?
                .dropdown-content   
                    p В кредитном отчете будет представлена информация по кредитам, оформленным в кредитных организациях — Партнерах ООО «Кредитное бюро Русский Стандарт», с которыми были заключены договорные отношения на оказание информационных услуг — формирование и хранение кредитных историй.
            .dropdown(data-category="ccki")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Как пройти идентификацию?
                .dropdown-content   
                    p Идентификация — процедура подтверждения личности субъекта кредитной истории, необходимая  для предоставления кредитного отчета. 
                    p Идентификация личности субъекта кредитной истории — физического лица осуществляется на основе паспорта гражданина Российской Федерации или при его отсутствии иного документа, удостоверяющего личность в соответствии с законодательством Российской Федерации
                    p 1. Для прохождения идентификации требуется личное посещения офиса Бюро при обязательном наличии удостоверяющего личность документа. 
                    p 2. Идентификация возможна при входе в личный кабинет бюро из онлайн-сервиса «Интернет-банк» АО «Банк Русский Стандарт», а также при приобретении услуги «Годовая подписка» в офисах Партнеров Бюро. В данном случае личность субъекта кредитной истории  подтверждает банк.
                    p 3. Идентификация в <a href="https://lk.rs-cb.ru/" rel="nofollow" target="_blank">личном кабинете бюро</a> с помощью ЕСИА (используя подтвержденную учетную запись портала Госуслуги) или экспресс идентификация. 
                    p 4. Идентифицироваться&nbsp;в личном&nbsp;кабинете бюро также возможно,&nbsp;направив в бюро телеграмму, заверенную оператором почтовой связи.<br> Телеграмма должна содержать следующую информацию:<br> ИДЕНТИФИКАЦИЯ<br> ЛОГИН (который был указан при регистрации, вместо символа @ укажите А)<br> E-MAIL (который был использован для регистрации)<br> Т. (495)1234567<br> ИВАНОВ ИВАН ИВАНОВИЧ<br> ДАТА РОЖДЕНИЯ 01.01.1981<br> МЕСТО РОЖДЕНИЯ Г. МОСКВА<br> ПАСПОРТ 5555 555555 ВЫДАН ОВД Г. МОСКВЫ<br>ДАТА ВЫДАЧИ 01.01.2001
                    p При наличии ранее выданных паспортов необходимо указать их данные (серия, номер, дата выдачи, код подразделения, выдавшего паспорт).
                    p Важно! Подпись по предъявлению паспорта или иного удостоверения личности в обязательном порядке заверяется работником отделения почтовой связи, о чем указывается в телеграмме - СОБСТВЕННОРУЧНАЯ ПОДПИСЬ (ФИО заявителя) ЗАВЕРЕНА ОПЕРАТОР (ФИО оператора связи).
            .dropdown(data-category="ccki")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Скоринговый балл, из чего он складывается?
                .dropdown-content   
                    p Разные бюро кредитных историй рассчитывают скоринговый балл клиентам сами, исходя из внутренней методологии, параметры расчёта не раскрываются, в том числе и в КБРС. Единых правил нет. Например, наш балл может составлять от 0 до 620.
                    p С какого балла считать скоринг хорошим каждая организация принимает решение для себя в своей кредитной политике для каждого продукта. Для МФО, например, даже наличие текущих просрочек далеко не всегда является основанием для отказа. Кроме того, кредитные организации редко используют скоринг БКИ в чистом виде для принятия решения. Чаще это внутренний скоринг, который может брать скоринги сразу нескольких БКИ, а также иных источников.
                    p Всегда важно помнить, что помимо скоринга БКИ банки оценивают своих клиентов по собственным правилам.
            .dropdown(data-category="ccki")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title А как я могу улучшить свой скоринговый балл?
                .dropdown-content   
                    p Скоринг чаще всего нельзя улучшить в моменте. Если в кредитной истории были просрочки, то только длительный период своевременных платежей может его исправить или закрытие части кредитов (сокращение общей долговой нагрузки). Поэтому наша рекомендация - своевременно оплачивать задолженность.
            .dropdown(data-category="scoring")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Почему мне отказали в кредите, проблема в кредитной истории?
                .dropdown-content   
                    p При рассмотрении Вашего обращения за кредитом учитывается много факторов, среди которых данные кредитной истории могут оказаться далеко не на первом месте. Единого для всех понятия "хорошая кредитная история" не существует.
                    p Решение о предоставлении или отказе в выдаче кредита банк принимает на основе внутренней кредитной политики и методик оценки кредитоспособности заемщиков. Как правило, банки используют прагматичный подход, то есть небольшие, недолгие и редко случающиеся просрочки могут не учитываться при принятии решения.
                    p Как правило, для кредитной истории важен не столько сам факт наличия просрочек, а их систематичность и продолжительность. На решение банка влияет как количество, так и сроки просрочек по ежемесячным обязательным платежам. Каждый банк самостоятельно определяет, какой срок просрочки является для него критичным. Вероятнее всего, для банка будет приемлемым, если заемщик допустил небольшое количество просрочек, которые носили технический характер и не превышали нескольких дней, например, из-за того, что платеж не дошел вовремя.
            .dropdown(data-category="scoring")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title У меня плохая кредитная история, как можно ее исправить?
                .dropdown-content   
                    p Исправить свою кредитную историю можно, только доказав, что в ней содержатся недостоверные сведения. Бюро кредитных историй являются лишь хранителями информации, которая формируются в банках. Если в кредитной истории обнаружены ошибки – например, просрочка, возникшая по вине банка, или неправильное отражение других сведений, – Вы можете запросить исправление, обратившись в банк или БКИ, в котором хранится кредитная история. 
                    p Если проблемы возникли по вине заемщика, то есть задержка платежей или неполное погашение долга действительно имели место, то исправить, то есть улучшить информацию о себе, можно, только погасив имеющуюся задолженность, а также своевременно погашая другие имеющиеся или новые кредиты.
            .dropdown(data-category="scoring")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Как отказаться от услуги «Подписка»?
                .dropdown-content   
                    p Отказаться от услуги «Подписка» вы можете, написав заявление по месту ее оформления.
            .dropdown(data-category="scoring")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Как узнать в каком (-их) бюро кредитных историй хранится моя кредитная история?
                .dropdown-content   
                    p Рекомендуем направить запрос в ЦККИ или воспользоваться соответствующим сервисом портала госуслуг.
            .dropdown(data-category="scoring")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Что делать если кредитная история содержит недостоверные (не актуальные) данные?
                .dropdown-content   
                    p В случае если отчет по кредитной истории содержит недостоверные, неактуальные данные, ошибки или опечатки, субъект кредитной истории вправе полностью или частично оспорить информацию, содержащуюся в его кредитной истории. Для этого необходимо подать в бюро кредитных историй, в котором хранится указанная кредитная история, заявление о внесении изменений и (или) дополнений в эту кредитную историю. В заявление должны быть указаны все недостоверные данные, попавшие в кредитную историю. 
                    p Бюро кредитных историй в течение 30 дней со дня получения заявления обязано провести дополнительную проверку информации, входящей в состав кредитной истории, запросив ее у источника формирования кредитной истории.
                    p Бюро кредитных историй обновляет кредитную историю в оспариваемой части в случае подтверждения заявления субъекта кредитной истории или оставляет кредитную историю без изменения. О результатах рассмотрения указанного заявления бюро кредитных историй обязано в письменной форме сообщить субъекту кредитной истории по истечении 30 дней со дня его получения.
            .dropdown(data-category="subscribe")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Когда в базе данных бюро обновится информация?
                .dropdown-content   
                    p Информация об изменениях поступает к нам с той же периодичностью, с какой происходит выплата по кредиту. К этому прибавляется время на передачу информации от банка в бюро кредитных историй (максимум 10 дней). Таким образом, максимальное время обновления – 41 день.
            .dropdown(data-category="subscribe")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Каким образом формируется кредитная история?
                .dropdown-content   
                    p Источники формирования кредитной истории - кредитные организации, микрофинансовые организации и кредитные кооперативы обязаны представлять всю имеющуюся информацию, определенную статьей 4 Федерального закона от 30.12.2004 № 218-ФЗ , в отношении заемщиков, поручителей, принципалов хотя бы в одно бюро кредитных историй, включенное в государственный реестр бюро кредитных историй, без получения согласия на ее представление, за исключением случаев, в которых Правительством Российской Федерации установлены ограничения на передачу информации в соответствии с частью 7 настоящей статьи, а также лиц, в отношении которых Правительством Российской Федерации установлены указанные ограничения. 
                    p Источники формирования кредитной истории представляют информацию в бюро кредитных историй в срок, предусмотренный договором о предоставлении информации, но не позднее пяти рабочих дней со дня совершения действия (наступления события), информация о котором входит в состав кредитной истории. 
                    p Кредитная история хранится в бюро кредитных историй в течение 10 лет со дня последнего изменения информации, содержащейся в кредитной истории.
            .dropdown(data-category="subscribe")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Согласно Закону "О персональных данных" могу ли я отправить запрос в БКИ и удалить свою кредитную историю?
                .dropdown-content   
                    p Согласно Федеральному закону «О кредитных историях», кредитная история должна храниться в бюро кредитных историй в течение 10 лет со дня последнего изменения информации, содержащейся в кредитной истории. Процедура удаления кредитной истории по заявлению субъекта кредитной истории в Законе "О кредитных историях" не предусмотрена. История может быть удалена в БКИ только в случае противоправных действий третьих лиц (например, оформления кредита по вашему паспорту), по решению банка-источника или по решению суда.
            .dropdown(data-category="subscribe")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Что делать, если неустановленными лицами были заключены договоры кредита по утерянному паспорту?
                .dropdown-content   
                    p Рекомендуем обратиться в правоохранительные органы с соответствующим заявлением о том, что на данные утерянного паспорта неустановленными лицами были заключены договора кредита. Информация о том, в каких кредитных организациях были заключены договора кредита, оформленные на утерянный паспорт, будет содержаться в кредитной истории одного или нескольких БКИ.
            .dropdown(data-category="subscribe")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Можно ли сделать пометку в кредитной истории о том, что паспорт утерян в целях предотвращения мошеннических действий с паспортом?
                .dropdown-content   
                    p В соответствии с частью 4 статьи 3 Федерального закона "О кредитных историях" источником формирования кредитной истории, передающим информацию о заемщике в бюро кредитных историй, является кредитор. Состав кредитной истории определен статьей 4 Федерального закона "О кредитных историях" и не предусматривает наличие в кредитной истории каких-либо комментариев, пометок или суждений. В состав кредитной истории могут быть включены сведения, официально полученные из госорганов.
            .dropdown(data-category="subscribe")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title В каких случаях кредитная организация может ознакомиться с кредитной историей заемщика?
                .dropdown-content   
                    p В соответствии с частью 9 статьи 6 Федерального закона от 30.12.2004 № 218-ФЗ "О кредитных историях", Кредитный отчет предоставляется пользователю кредитной истории с согласия субъекта кредитной истории. Информационная часть кредитной истории предоставляется юридическим лицам и индивидуальным предпринимателям в целях выдачи займа (кредита) без согласия субъекта кредитной истории в срок, не превышающий пяти рабочих дней со дня обращения в бюро кредитных историй с запросом о предоставлении такой информационной части.
            .dropdown(data-category="subscribe")
                .dropdown-top
                    .dropdown-arrow
                        +svgMono('dropdown-arrow')
                    .dropdown-title Если я поменял паспорт, фамилию или место жительства, моя кредитная история начнется «с нуля»?
                .dropdown-content   
                    p В нашем Бюро и в банках-Партнерах действуют гибкие алгоритмы поиска, и в большинстве случаев Ваша прежняя кредитная история правильно присоединится к Вашим новым персональным данным. Чтобы снизить вероятность ошибки, в случае замены паспорта необходимо сообщить данную информацию в банк(и), где у Вас имеются открытые договоры. Банк передаст полученные данные в БКИ.

