.section-sidebar
    .section-sidebar__title Как подключить сервис:
    .section-sidebar__items
        .section-sidebar__item
            .section-sidebar__item-number 1
            .section-sidebar__item-text Воспользуйтесь формой обратной связи внизу страницы
        .section-sidebar__item
            .section-sidebar__item-number 2
            .section-sidebar__item-text Или обратитесь к персональному менеджеру по телефону:
        a.section-sidebar__phone(href="tel:+74956096424") +7 (495) 609-64-24