section.section-description
    .l-default 
        .section-description__text 
            p <span>Хранение кредитных историй</span> в БКИ позволяет кредитным и не кредитным организациям защищать себя от недобросовестных заемщиков, партнеров, арендаторов, абонентов и других контрагентов.