section.section-top
    .section-top__img 
        +webp(['history/1'], 'jpg')
    .l-default
        .breadcrumbs
            a.breadcrumb(href="") Главная
            a.breadcrumb(href="") Корпоративным клиентам
            a.breadcrumb(href="") Банки, МФО и КПК
            a.breadcrumb(href="") Кредитные истории
            a.breadcrumb(href="") Хранение кредитных историй
        h1.section-top__title.title.title--h1 Хранение кредитных историй