section.section
    .section__texts 
        p Передача данных о выданных займах в БКИ – это одна из важнейших обязанностей для банков, микрофинансовых организаций и кредитных потребительских кооперативов. Корректно сформированная и своевременно переданная в бюро информация важна в первую очередь для самих кредитных организаций. Не секрет, что наличие просрочек и кредитная нагрузка клиента играют большое значение в принятии решения по заявке.
        p В соответствии с поправками, внесёнными в закон 218-ФЗ «О кредитных историях», передавать КИ заёмщиков обязаны не только банки, но и МФО, кредитные кооперативы, а также все организации, получившее права требования по займам. При этом компании, работающие в сфере ЖКХ, получили возможность передавать в БКИ данные по неисполненным судебным требованиям о погашении задолженности.
    h3.section__title.title.title--h3 Для чего используется 
    ul.section__list
        li Предоставление полноценного и подробного отчета о загрузке КИ в бюро.
        li Наличие собственного удостоверяющего центра, который позволит избежать дополнительных издержке при передаче персональных данных;
        li Использование других сервисов КБРС на специальных условиях;
        li Предоставление тестовой среды для облегчения процесса автоматизации.
    .section__texts
        p Для подключения сервиса заполните специальную форму на сайте или позвоните по телефону. Персональный менеджер расскажет обо всех подробностях и ответит на все вопросы, которые у вас возникнут.