.ico-mono-arrow {
  width: 0.64em;
  height: 1em;
  fill: #83B143;
}
.ico-mono-dropdown-arrow {
  width: 1.57em;
  height: 1em;
  fill: #83B143;
}
.ico-mono-email {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-logo-sidebar {
  width: 1.04em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-logo-white {
  width: 5.66em;
  height: 1em;
  fill: #fff;
}
.ico-mono-map {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-pdf {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-phone-icon {
  width: 1em;
  height: 1em;
  fill: #C41D39;
}
.ico-mono-phone {
  width: 0.78em;
  height: 1em;
  fill: #fff;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-user {
  width: 0.88em;
  height: 1em;
  fill: #C41D39;
}
