.ico-color-date {
  width: 1.14em;
  height: 1em;
}
.ico-color-forgot {
  width: 1em;
  height: 1em;
}
.ico-color-gosuslugi {
  width: 6.45em;
  height: 1em;
}
.ico-color-logo {
  width: 5.21em;
  height: 1em;
}
.ico-color-phone {
  width: 0.78em;
  height: 1em;
}
