-
    const services = [
        {
            title: 'Полезные инструменты',
            subtitle: 'Получите свою кредитную историю легко и просто',
            img: '1',
            btnText: 'Попробовать',
            href: '',
        },
        {
            title: 'Полезные инструменты',
            subtitle: 'Получите свою кредитную историю легко и просто',
            img: '2',
            btnText: 'Войти в ЛК',
            href: '',
        },
        {
            title: 'Полезные инструменты',
            subtitle: 'Получите свою кредитную историю легко и просто',
            img: '3',
            btnText: 'Пройти',
            href: '',
        }
    ]