-
    const menu = [
        {
            href: '',
            text: 'О компании',
            submenu: [
                {
                    items: [
                        {
                            title: {
                                href: '',
                                text: 'Банки, МФО и КПК',
                            },
                            column_1: {
                                list: [
                                    {
                                        title: {
                                            href: '',
                                            text: 'Кредитные истории:',
                                        },
                                        items: [
                                            {
                                                href: '',
                                                text: 'Хранение кредитных историй',
                                            },
                                            {
                                                href: '',
                                                text: 'Сервис ЦККИ',
                                            },
                                            {
                                                href: '',
                                                text: 'Кредитный отчет',
                                            },
                                        ],
                                    },
                                    {
                                        title: {
                                            href: '',
                                            text: 'Кредитные истории:',
                                        },
                                        items: [
                                            {
                                                href: '',
                                                text: 'Рейтинг Бюро',
                                            },
                                            {
                                                href: '',
                                                text: 'Рейтинг работодателя',
                                            },
                                            {
                                                href: '',
                                                text: 'Скоринг',
                                            },
                                        ],
                                    },
                                    {
                                        title: {
                                            href: '',
                                            text: 'Сопровождение клиентов:',
                                        },
                                    },
                                ],
                            },
                            column_2: {
                                list: [
                                    {
                                        title: {
                                            href: '',
                                            text: 'Верификация персональных данных:',
                                        },
                                        items: [
                                            {
                                                href: '',
                                                text: 'Верификация',
                                            },
                                            {
                                                href: '',
                                                text: 'Хеш-верификация',
                                            },
                                        ],
                                    },
                                    {
                                        title: {
                                            href: '',
                                            text: 'Сервисы федеральных служб:',
                                        },
                                        items: [
                                            {
                                                href: '',
                                                text: 'Сервис ЕГРЮЛ/ЕГРИП',
                                            },
                                            {
                                                href: '',
                                                text: 'Проверка паспорта',
                                            },
                                            {
                                                href: '',
                                                text: 'ФССП',
                                            },
                                        ],
                                    },
                                    {
                                        title: {
                                            href: '',
                                            text: 'Кредитные истории',
                                        },
                                    },
                                ],
                            },
                        },
                    ],
                },
                {
                    items: [
                        {
                            title: {
                                href: '',
                                text: 'Для коллекторских агенств',
                            },
                            column_1: {
                                list: [
                                    {
                                        items: [
                                            {
                                                href: '',
                                                text: 'Хранение кредитных историй',
                                            },
                                            {
                                                href: '',
                                                text: 'Коллекшен рейтинг',
                                            },
                                            {
                                                href: '',
                                                text: 'ФССП',
                                            },
                                        ],
                                    },
                                ],
                            },
                        },
                    ],
                },
                {
                    items: [
                        {
                            title: {
                                href: '',
                                text: 'Для страховых компаний',
                            },
                            column_1: {
                                list: [
                                    {
                                        items: [
                                            {
                                                href: '',
                                                text: 'Скоринг',
                                            },
                                            {
                                                href: '',
                                                text: 'Верификация',
                                            },
                                            {
                                                href: '',
                                                text: 'Хэш-верификация',
                                            },
                                            {
                                                href: '',
                                                text: 'Проверка паспорта',
                                            },
                                        ],
                                    },
                                ],
                            },
                        },
                    ],
                },
                {
                    items: [
                        {
                            title: {
                                href: '',
                                text: 'Для страховых компаний',
                            },
                            column_1: {
                                list: [
                                    {
                                        items: [
                                            {
                                                href: '',
                                                text: 'Хранение кредитных историй',
                                            },
                                            {
                                                href: '',
                                                text: 'Кредитный отчет',
                                            },
                                        ],
                                    },
                                ],
                            },
                        },
                    ],
                },
            ],
        },
        {
            href: '',
            text: 'Корпоративным клиентам',
            submenu: [
                {
                    items: [
                        {
                            title: {
                                href: '',
                                text: 'Банки, МФО и КПК',
                            },
                            column_1: {
                                list: [
                                    {
                                        title: {
                                            href: '',
                                            text: 'Кредитные истории:',
                                        },
                                        items: [
                                            {
                                                href: '',
                                                text: 'Хранение кредитных историй',
                                            },
                                            {
                                                href: '',
                                                text: 'Сервис ЦККИ',
                                            },
                                            {
                                                href: '',
                                                text: 'Кредитный отчет',
                                            },
                                        ],
                                    },
                                    {
                                        title: {
                                            href: '',
                                            text: 'Кредитные истории:',
                                        },
                                        items: [
                                            {
                                                href: '',
                                                text: 'Рейтинг Бюро',
                                            },
                                            {
                                                href: '',
                                                text: 'Рейтинг работодателя',
                                            },
                                            {
                                                href: '',
                                                text: 'Скоринг',
                                            },
                                        ],
                                    },
                                    {
                                        title: {
                                            href: '',
                                            text: 'Сопровождение клиентов:',
                                        },
                                    },
                                ],
                            },
                        },
                    ],
                },
                {
                    items: [
                        {
                            title: {
                                href: '',
                                text: 'Для страховых компаний',
                            },
                            column_1: {
                                list: [
                                    {
                                        items: [
                                            {
                                                href: '',
                                                text: 'Скоринг',
                                            },
                                            {
                                                href: '',
                                                text: 'Верификация',
                                            },
                                            {
                                                href: '',
                                                text: 'Хэш-верификация',
                                            },
                                            {
                                                href: '',
                                                text: 'Проверка паспорта',
                                            },
                                        ],
                                    },
                                ],
                            },
                        },
                    ],
                },
                {
                    items: [
                        {
                            title: {
                                href: '',
                                text: 'Для страховых компаний',
                            },
                            column_1: {
                                list: [
                                    {
                                        items: [
                                            {
                                                href: '',
                                                text: 'Хранение кредитных историй',
                                            },
                                            {
                                                href: '',
                                                text: 'Кредитный отчет',
                                            },
                                        ],
                                    },
                                ],
                            },
                        },
                    ],
                },
            ],
        },
        {
            href: '',
            text: 'Частным клиентам',
        },
        {
            href: '',
            text: 'Новости',
        },
        {
            href: '',
            text: 'Финансовым управляющим',
        },
        {
            href: '',
            text: 'Партнеры',
        },
        {
            href: '',
            text: 'Вопрос-ответ',
        },
    ]