section.section-description
    .l-default 
        .section-description__row
            .section-description__text 
                p Партнеры Кредитного бюро Русский Стандарт помогут интегрировать наши сервисы в ваши программные решения и автоматизировать процесс обмена данными.
            a.section-description__btn.btn.btn--green(href="") Стать партнером