section.partners
    .l-default 
        h2.partners__title.title.title--h2 Наши партнеры
        .partners__columns
            .partners__tabs
                .partners__tabs-title Компании:
                .partners__tabs-items
                    .partners__tab(data-category="all") Все
                    .partners__tab(data-category="integrators") Интеграторы
            .partners__tabs
                .partners__tabs-title Интеграция:
                .partners__tabs-items
                    .partners__tab(data-category="all") Все
                    .partners__tab(data-category="banks") Для Банков
                    .partners__tab(data-category="mfo") Для МФО
                    .partners__tab(data-category="collectors") Для коллекторских компаний
                    .partners__tab(data-category="insurance") Для страховых компаний
        .partners__items
            a.partners__item(href="#popup-loginom" data-category="mfo" data-integrators="true" data-fancybox)
                .partners__info
                    .partners__info-text <span>Loginom Company</span> – отечественный разработчик ПО в области продвинутого анализа данных
                    .partners__info-btn.btn.btn--white Узнать больше
                .partners__img 
                    img.lazy(data-src="img/svg/partners/loginom.svg", alt="")
            a.partners__item(href="#popup-hes" data-category="collectors" data-fancybox)
                .partners__info
                    .partners__info-text <span>HES</span> - международная компания, которая создает инновационные продукты.
                    .partners__info-btn.btn.btn--white Узнать больше
                .partners__img 
                    img.lazy(data-src="img/svg/partners/hes.svg", alt="")
            a.partners__item(href="#popup-aksiomatika" data-category="banks" data-integrators="true" data-fancybox)
                .partners__info
                    .partners__info-text Широкий спектр продуктов для автоматизации различных бизнец-процессов.
                    .partners__info-btn.btn.btn--white Узнать больше
                .partners__img 
                    img.lazy(data-src="img/svg/partners/aksiomatika.svg", alt="")
            a.partners__item(href="#popup-skorista" data-category="insurance" data-fancybox)
                .partners__info
                    .partners__info-text Сервис, нацеленный на снижение убытков от невозврата и повышение доходов кредитора.
                    .partners__info-btn.btn.btn--white Узнать больше
                .partners__img 
                    img.lazy(data-src="img/svg/partners/skorista.svg", alt="")
            a.partners__item(href="#popup-sputnik" data-category="insurance" data-fancybox)
                .partners__info
                    .partners__info-text <span>SPUTNIK</span> - это программное обеспечение для финансового сектора.
                    .partners__info-btn.btn.btn--white Узнать больше
                .partners__img 
                    img.lazy(data-src="img/svg/partners/sputnik.svg", alt="")
