section.section-top
    .section-top__img 
        +webp(['news/1'], 'jpg')
    .l-default
        .breadcrumbs
            a.breadcrumb(href="") Главная
            a.breadcrumb(href="") Новости
            a.breadcrumb(href="") Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)
        h1.section-top__title.title.title--h1 Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)