section.news-detail
    .l-default 
        .news-detail__content
            .news-detail__date
                .news-detail__date-icon 
                    +svgColor('date')
                .news-detail__date-text 9 МАРТА 2022 
            .news-detail__texts 
                p Мы рады сообщить, о том что:
                p 9 марта 2022 года Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ), соответствующая информация была опубликована на официальном информационном ресурсе Банка России.
                p <a href="https://www.cbr.ru/press/event/?id=12740">https://www.cbr.ru/press/event/?id=12740</a>
                p Статус КБКИ является показателем того, что "Кредитное бюро Русский Стандарт" соответствует самым высоким требованиям к IT-инфраструктуре, системам защиты информации, устойчивым финансовым показателям, объему и качеству хранимой информации.
                p Для всех пользователей услуг БКИ это означает, что наше Бюро будет оказывать услуги по предоставлению сведений о среднемесячных платежах потенциальных заемщиков, которые необходимы для расчета показателя долговой нагрузки, после вступления в силу соответствующего законодательства.
            a.news-detail__btn.btn.btn--green(href="") Вернуться в общий список