.page-404
    .page-404__wrapper
        .page-404__title 404
        .page-404__subtitle ошибка
        .page-404__text К сожалению данной страницы не существует...
        a.page-404__btn.btn.btn--green(href="/") Перейти на главную страницу