extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = ""

block content
      include ../../blocks/modules/loader/loader.pug
      include ../../blocks/modules/header/header.pug
      main.main
        include ../../blocks/modules/manager/manager-top.pug
        .l-default.section__wrapper
          .section__content 
            include ../../blocks/modules/manager/manager.pug
          .section__sidebar
            include ../../blocks/modules/manager/manager-sidebar.pug
      include ../../blocks/modules/footer/footer.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")