extends ../layouts/default
include ../helpers/_mixins

block variables
  - const title = ""

block content
      include ../../blocks/modules/loader/loader.pug
      include ../../blocks/modules/header/header.pug
      main.main
        include ../../blocks/modules/news-detail/news-detail-top.pug
        include ../../blocks/modules/news-detail/news-detail.pug
        include ../../blocks/modules/news/news-more.pug
      include ../../blocks/modules/footer/footer.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")