.section-links
    .section-links__items
        a.section-links__item(href="") 
            .section-links__item-icon
                img(src="img/svg/about/1.svg", alt="")
            .section-links__item-text Руководство бюро
        a.section-links__item(href="") 
            .section-links__item-icon
                img(src="img/svg/about/2.svg", alt="")
            .section-links__item-text Документы и лицензии