.about-sidebar
    .about-sidebar__logo
        +svgMono('logo-sidebar')
    .about-sidebar__title ООО «Кредитное бюро Русский Стандарт»
    .about-sidebar__text определяет свою миссию в разработке и предоставлении партнерам и клиентам оптимального портфеля информационно — аналитических услуг с обеспечением максимальной достоверности и самого высокого качества обслуживания.