section.section-top
    .section-top__img 
        +webp(['about/1'], 'jpg')
    .l-default
        .breadcrumbs
            a.breadcrumb(href="") Главная
            a.breadcrumb(href="") О компании
        h1.section-top__title.title.title--h1 О компании