section.section-description
    .l-default 
        .section-description__text 
            p В настоящее время <span>ООО «Кредитное бюро Русский Стандарт»</span> является одним из лидеров российского рынка кредитных историй. В Бюро хранится свыше 140 миллионов записей о субъектах, включая кредитные истории, информацию о запросах. Бюро осуществляет свою деятельность в соответствии с требованиями Федерального закона № 218 «О кредитных историях» и действующими национальными и международными стандартами в области защиты информации.
            p Компания использует современное программное обеспечение, стремится к постоянному повышению качества услуг, сотрудничеству со всеми структурами, заинтересованными в развитии института бюро кредитных историй в России.