section.more
    .l-default 
        .more__wrapper
            .more__info
                .more__title <span> Кредитное бюро Русский Стандарт </span> является одним из крупнейших БКИ по объему кредитных историй в России
                .more__text Бюро хранит и предоставляет на эксклюзивной основе истории АО «Банк Русский Стандарт» — ведущего национального банка на рынке обслуживания клиентов и занимающего лидирующие позиции на рынке кредитования и кредитных карт.
                a.more__btn.btn.btn--green(href="") Узнать больше
            .more__img
                img.lazy(data-src="img/svg/logo-more.svg", alt="")