-
    const activities = [
        {
            items: [
                {
                    img: '1',
                    title: 'По отношению к Партнерам и Клиентам',
                    text: '<p>Обеспечивать достижение высоких показателей эффективности, полноты и качества оказания услуг, завоевание места полноправного партнера на финансовом рынке и в повседневной жизни граждан.</p><p>Оказывать профессиональную информационную и техническую поддержку, содействовать развитию бизнеса наших Партнеров на долгосрочной основе через оптимальную организацию предоставления информационных услуг.</p>',
                }
            ],   
        },
        {
            items: [
                {
                    img: '2',
                    title: 'По отношению к обществу',
                    text: 'Формировать корректное, уважительное отношение общества к финансовой среде, российскому законодательству, моральным и общественным принципам.',
                },
                {
                    img: '3',
                    title: 'По отношению к персоналу',
                    text: 'Предоставлять оптимальные условия для эффективной работы, обеспечивать профессиональный и личностный рост, возможности для самореализации.',
                }
            ],   
        },
    ]