form.form
    .form__inputs
        .form__input
            input(type="text" name="name" placeholder="Ваше имя")
        .form__input
            input(type="tel" name="phone" placeholder="Контактый телефон")
        .form__input
            input(type="email" name="email" placeholder="E-mail")
    .form__textarea
        textarea(type="text" placeholder="Комментарий")
    .form__bottom
        .form__checkbox Нажимая на кнопку «Отправить» Вы даете согласие на обработку своих персональных данных в соответствии со статьей 9 Федерального закона от 27 июля 2006 г. N 152-ФЗ «О персональных данных»
        button.form__btn.btn.btn--green(type="submit") Отправить