section.poster
    .l-default 
        .poster__wrapper
            .poster__img
                +webp(['poster/1'], 'png')
            .poster__info
                h2.poster__title.title.title--h2 Проверить свою кредитную историю прямо сейчас?
                .poster__subtitle
                    .poster__subtitle-text Подтвердите свою личность через
                    .poster__subtitle-icon 
                        +svgColor('gosuslugi')
                .poster__btns
                    a.poster__btn.btn.btn--bordered.btn--bordered-blue(href="") Войти  
                    a.poster__btn.btn.btn--blue(href="") Зарегистрироваться 