section.main-top
    .main-top__slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .main-top__img
                    +webp(['main/1'], 'jpg', 'swiper-lazy')
                .l-default
                    .main-top__info
                        h1.main-top__title Кредитный отчет1
                        .main-top__subtitle Оформив данную услугу, Вы сможете посмотреть свой Кредитный отчёт1
                        .main-top__btns
                            a.main-top__btn.btn.btn--bordered(href="")  Частным клиентам
                            a.main-top__btn.btn.btn--bordered(href="")  Корпоративным клиентам
            .swiper-slide
                .main-top__img
                    +webp(['main/1'], 'jpg', 'swiper-lazy')
                .l-default
                    .main-top__info
                        h1.main-top__title Кредитный отчет2
                        .main-top__subtitle Оформив данную услугу, Вы сможете посмотреть свой Кредитный отчёт2
                        .main-top__btns
                            a.main-top__btn.btn.btn--bordered(href="")  Частным клиентам
                            a.main-top__btn.btn.btn--bordered(href="")  Корпоративным клиентам
            .swiper-slide
                .main-top__img
                    +webp(['main/1'], 'jpg', 'swiper-lazy')
                .l-default
                    .main-top__info
                        h1.main-top__title Кредитный отчет3
                        .main-top__subtitle Оформив данную услугу, Вы сможете посмотреть свой Кредитный отчёт3
                        .main-top__btns
                            a.main-top__btn.btn.btn--bordered(href="")  Частным клиентам
                            a.main-top__btn.btn.btn--bordered(href="")  Корпоративным клиентам
        .swiper-pagination