section.news-all
    .l-default 
        h2.news-all__title.title.title--h2 Новости Бюро
        .news-all__wrapper
            .news-all__important
                .news-all__important-title Важная новость
                .news-all__important-text Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)
                a.news-all__important-btn.btn.btn--green(href="") Читать
            .news-all__slider-container
                .news-all__slider-title Последние новости
                .news-all__slider.swiper-container  
                    .swiper-wrapper 
                        a.swiper-slide.news-all__slide(href="") 
                            .news-all__slide-date 9 МАРТА 2022
                            .news-all__slide-text Банк России присвоил «Кредитному бюро Русский Стандарт» (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)
                        a.swiper-slide.news-all__slide(href="") 
                            .news-all__slide-date 9 МАРТА 2022
                            .news-all__slide-text 03 ноября 2021 г. отменяется прием физических лиц
                        a.swiper-slide.news-all__slide(href="") 
                            .news-all__slide-date 9 МАРТА 2022
                            .news-all__slide-text 03 ноября 2021 г. отменяется прием физических лиц
                        a.swiper-slide.news-all__slide(href="") 
                            .news-all__slide-date 9 МАРТА 2022
                            .news-all__slide-text 03 ноября 2021 г. отменяется прием физических лиц
                        a.swiper-slide.news-all__slide(href="") 
                            .news-all__slide-date 9 МАРТА 2022
                            .news-all__slide-text 03 ноября 2021 г. отменяется прием физических лиц
                        a.swiper-slide.news-all__slide(href="") 
                            .news-all__slide-date 9 МАРТА 2022
                            .news-all__slide-text 03 ноября 2021 г. отменяется прием физических лиц 03 ноября 2021 г. отменяется прием физических лиц 03 ноября 2021 г. отменяется прием физических лиц 03 ноября 2021 г. отменяется прием физических лиц
                .news-all__slider-bottom
                    a.news-all__slider-btn.btn.btn--green(href="") Больше новостей
                    .slider-arrows
                        .slider-arrow.slider-arrow-prev
                            +svgMono('arrow')
                        .slider-arrow.slider-arrow-next
                            +svgMono('arrow')
                