section.manager 
    .manager__text <strong>Согласно п. 4 ст. 3 Федерального закона от 30.12.2004 N 218-ФЗ«О кредитных историях» </strong>(далее – Закон 218-ФЗ) арбитражный управляющий, назначенный для проведения процедуры, применяемой в деле о несостоятельности (банкротстве) физического лица, в том числе индивидуального предпринимателя (далее - финансовый управляющий) относится к источникам формирования кредитной истории. В случае наличия у заемщика - физического лица кредитной истории на момент принятия к производству заявления о признании его несостоятельным (банкротом) финансовый управляющий обязан представлять информацию, определенную ч. 2, пп. «г» п. 1, п. 4 ч. 4 ст. 4 Закона 218-ФЗ, в бюро кредитных историй, в которых сформирована кредитная история указанного субъекта кредитной истории, а при отсутствии у заемщика - физического лица кредитной истории на момент принятия к производству заявления о признании его несостоятельным (банкротом) финансовый управляющий обязан направлять такую информацию хотя бы в одно бюро кредитных историй, включенное в государственный реестр бюро кредитных историй (ч. 3.9 ст. 5 Закона 218-ФЗ). <strong>Финансовый управляющий направляет сведения о процедурах, применяемых в деле о несостоятельности (банкротстве) физического лица, если арбитражным судом принято к производству заявление о признании физического лица несостоятельным (банкротом), в том числе сведения о неправомерных действиях физического лица при несостоятельности (банкротстве), сведения о преднамеренном или фиктивном банкротстве, с указанием ссылки (включая дату) на включение сведений в Единый федеральный реестр сведений о банкротстве (пп. «г»п. 1 ч. 3 ст. 4 Закона 218-ФЗ). Финансовый управляющий, являясь источники формирования кредитной истории, представляет информацию, определённую ст. 4 Закона 218-ФЗ, в бюро кредитных историй в форме электронного документа на основании заключенного договора об оказании информационных услуг, который является договором присоединения, условия которого определяет бюро кредитных историй (ч. 1, ч. 2, ч. 5.8 ст. 5 Закона 218-ФЗ).</strong>
    h3.manager__title.title.title--h3 Финансовый управляющий обращается в Бюро одним из способов:
    .manager__items
        .manager__item
            .manager__item-number 1
            .manager__item-info
                .manager__item-title Через личный кабинет нашего Бюро
                .manager__item-text 
                    p Использует стандартный функционал для отправки запросов на кредитную историю субъекта, а также выгрузки кредитных историй.
                    p Для подключения к Автоматизированной системе КБРС финансовый управляющий соглашается с условиями Оферты Бюро, направляя Заявку на подключение,а также комплект документов, предусмотренных п. 4.1.1 Оферты, на бумажных носителях.
                .manager__item-btns
                    .manager__item-btn.btn.btn--bordered
                        .manager__item-btn--icon    
                            +svgMono('pdf')
                        .manager__item-btn--text Оферта Бюро
                    .manager__item-btn.btn.btn--bordered
                        .manager__item-btn--icon    
                            +svgMono('pdf')
                        .manager__item-btn--text Пример Заявки
        .manager__item
            .manager__item-number 2 
            .manager__item-info
                .manager__item-title Лично предоставить документы в офис Бюро
                .manager__item-text 
                    p Документ удостоверяющий личность, судебный акт (оригинал или копия, заверенная судом) об утверждении финансового управляющего в деле о несостоятельности (банкротстве), выписку из реестра СРО, членом которой является финансовый управляющий, содержащей наименование и ИНН организации. Адрес: Москва, Семеновская площадь, дом 7, корпус 1 (время приема - среда с 10:00 до 18:00, перерыв с 13:00 до 14:00).