-
    const news = [
        {
            date: '9 МАРТА 2022',
            title: 'Банк России присвоил &laquo;Кредитному бюро Русский Стандарт&raquo; (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)',
            text: '9 марта 2022 года Банк России присвоил &laquo;Кредитному бюро Русский Стандарт&raquo; (КБРС) статус квалифицированного бюро кредитных историй (КБКИ)',
        },
        {
            date: '2 НОЯБРЯ 2022',
            title: '03 ноября 2021 г. отменяется прием физических лиц',
            text: 'В связи с Указом мэра Москвы от 21.10.2021 N 62-УМ "О внесении изменений в указ Мэра Москвы от 8 июня 2020 г. № 68-УМ", в ООО &laquo;Кредитное бюро Русский Стандарт&raquo; 03.11.2021 г. отменяется прием физических лиц по адресу город Москва, Семеновская площадь, дом 7, корпус 1.',
        },
        {
            date: '22 ИЮНЯ 2022',
            title: '23 июня 2021 г. отменяется прием физических лиц',
            text: 'В связи со сложной ситуацией, связанной с распространением новой коронавирусной инфекции (COVID-19), в ООО &laquo;Кредитное бюро Русский Стандарт&raquo; 23.06.2021 г. отменяется прием физических лиц',
        },
        {
            date: '15 ИЮНЯ 2021',
            title: '16 июня 2021 г. отменяется прием физических лиц',
            text: 'В связи с Указом мэра Москвы от 12 июня 2021 года № 29-УМ "О внесении изменений в указ Мэра Москвы от 8 июня 2020 г. № 68-УМ", в ООО &laquo;Кредитное бюро Русский Стандарт&raquo; 16.06.2021 г. отменяется прием физических',
        },
        {
            date: '9 ОКТЯБРЯ 2020',
            title: 'Подача заявлений на оспаривание кредитной истории через личный кабинет',
            text: 'Подача заявления в электронном виде доступна идентифицированным пользователям в Личном кабинете Физического лица в разделе &laquo;Техподдержка&raquo;.',
        },
        {
            date: '27 МАРТА 2020',
            title: 'Режим работы в период с 30 марта по 3 апреля',
            text: 'В связи с введением режима повышенной готовности и профилактики распространения коронавирусной инфекции, а также гриппа, ОРВИ и подобных заболеваний, ООО &laquo;Кредитное бюро Русский Стандарт&raquo; просим Вас воздержаться от посещений офиса Бюро в период действия режима повышенной готовности, т.е. с 30 марта по 3 апреля 2020 года.',
        },
        {
            date: '23 ДЕКАБРЯ 2019',
            title: 'Изменение адреса нахождения офиса (Малая Семеновская)',
            text: 'Уважаемые Партнеры, сообщаем, что с 30.12.2019 г. офис Бюро, ранее размещавшийся на ул. Малая Семеновская, д. 9 стр. 3, будет располагаться по адресу Преображенская площадь, д.8, офис 5Б3.',
        },
        {
            date: '28 ОКТЯБРЯ 2019',
            title: 'Обновленный кредитный отчет',
            text: 'Кредитное бюро Русский Стандарт полностью обновило свой кредитный отчет.',
        },
    ];

    const news_more = [
        {
            date: '9 МАРТА 2022',
            title: '03 ноября 2021 г. отменяется прием физических лиц',
            text: 'В связи с Указом мэра Москвы от 21.10.2021 N 62-УМ "О внесении изменений в указ Мэра Москвы от 8 июня 2020 г. № 68-УМ", в ООО «Кредитное бюро Русский Стандарт» 03.11.2021 г. отменяется прием физических лиц по адресу город Москва, Семеновская площадь, дом 7, корпус 1.',
            href: '',
        },
        {
            date: '22 ИЮНЯ 2022',
            title: '23 июня 2021 г. отменяется прием физических лиц',
            text: 'В связи со сложной ситуацией, связанной с распространением новой коронавирусной инфекции (COVID-19), в ООО «Кредитное бюро Русский Стандарт» 23.06.2021 г. отменяется прием физических лиц',
            href: '',
        },
        {
            date: '15 ИЮНЯ 2021',
            title: '16 июня 2021 г. отменяется прием физических лиц',
            text: 'В связи с Указом мэра Москвы от 12 июня 2021 года № 29-УМ "О внесении изменений в указ Мэра Москвы от 8 июня 2020 г. № 68-УМ", в ООО «Кредитное бюро Русский Стандарт» 16.06.2021 г. отменяется прием физических',
            href: '',
        },
    ]