footer.footer
    .footer__top
        .footer__menu
            a.footer__menu-item(href="") Официальная информация
            a.footer__menu-item(href="") Вопросы и ответы
            a.footer__menu-item(href="") Новости
            a.footer__menu-item(href="") Контакты
    .footer__logo
        +svgMono('logo-white')
    .footer__copyrights © 2005–2022 Кредитное бюро Русский Стандарт. Лицензия ЦБ РФ № 077-00010-002
    .footer__copyrights Разработано студией <a href="https://freelab.ru/">Freelab.ru</a>