-
    const info_items = [
        {
            icon: 'report',
            title: 'Кредитный отчет',
            text: 'Основной источник информации кредитных организаций для принятия решений о выдаче займа…',
        },
        {
            icon: 'scoring',
            title: 'Скоринг',
            text: 'Основной источник информации кредитных организаций для принятия решений о выдаче займа…',
        },
        {
            icon: 'ckki',
            title: 'Сервис ЦККИ',
            text: 'Это структурное подразделение Банка России, которое ведет базу данных для поиска БКИ, содержащих кредитные истории субъектов кредитных историй…',
        },
        {
            icon: 'verification',
            title: 'Верификация',
            text: 'Верификация данных это проверка корректности и взаимного соответствия анкетных данных потенциального клиента…',
        },
    ]

    const info_items_more = [
        {
            icon: 'report',
            title: 'Кредитный отчет',
            text: 'Основной источник информации кредитных организаций для принятия решений о выдаче займа…',
        },
        {
            icon: 'ckki',
            title: 'Сервис ЦККИ',
            text: 'Это структурное подразделение Банка России, которое ведет базу данных для поиска БКИ, содержащих кредитные истории субъектов кредитных историй…',
        },
    ]